
#calculator{

    width: 46%;
    height: 70%;
    min-width: 300px;
    min-height: 400px;
    border: 2px solid black;
}

#display-container{

    width: 100%;
    height: 30%;
    border-bottom: 2px solid black;
    font-size: 4.5rem;

}

.button{
    width: 23%;
    height: 29%;
    border-right: 2px solid black;
    font-size: 3.5rem;
    display: inline-block;

}
.button-operator{
    width: 23%;
    height: 29%;
    font-size: 3.5rem;
    display: inline-block;
    background-color: orange;

}

ul{

 list-style: none;
  margin-left: -2.5rem;
  height: 80%;
  margin-top: -0.1rem;
  margin-bottom: -2px;

 
}

li{
    border-bottom: 2px solid black;
}

span{

   text-align: center;
}