*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator{
    margin: 20vh auto;
    background-color: #5a5858;
    width: 280px;
    height: 395px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 6px black;
    transform: scale(1.2);
}

#heading-calculator{
    width: 100%;
    background: rgb(231, 179, 83);
    height: 40px;

}
#heading-calculator{
    font-size: 0.9rem;
    text-align: center;
    font-family: sans-serif;

}
/* Display Input From User */

#display {
    width: 100%;
    background: linear-gradient(#5a5858,#202020);
    height: 75px;
    color: white;
    font-family: sans-serif;
    font-size: 2rem;
    border-radius: 10px;
    text-align: right;
    padding: 25px 10px 2px 2px;
}

/* Buttons & Special Character */

.buttons {
    height: 55px;
    width: 25%;
    border: 1px solid black;
    border-top: 0;
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s;
}

.buttons:hover {
    background-color: #7b7878;
    box-shadow: 0 0 8px black;
}

/* 0 Number Button*/

.buttons[data-value = "0"] {
    width: 50%;
    border-bottom-left-radius: 10px;
}

/* Arithmatic Operators have a separate background color  */

.buttons[data-value = "="] {
    background-color: #68001af0;
    border-bottom-right-radius: 10px;
}

.buttons:nth-child(4n+2) {
    background-color: #68001af0;
}

.buttons:nth-child(4n+1):hover, .buttons[data-value = "="]:hover {
    background-color: #f5ad66f0;
}